.bg-white {
  background-color: white;
}

.bg-black {
  background-color: black;
}

.bg-grey {
  background-color: grey;
}

/* maps */
.icon-fb {
  color: blue;
}

.icon-tw {
  color: skyblue;
}

.icon-ig {
  color: violet;
}

.icon-in {
  color: blueviolet;
}

.muestra-color {
  background: black;
}

/*extend*/
.btn1, .btn1--mision {
  text-decoration: none;
  color: black;
}

.btn1--mision {
  background-color: rgba(229, 166, 65, 0.988);
}

/*mixins*/
.texto--color {
  padding: 10px;
  border: 1px solid black;
  background-color: gainsboro;
}

* {
  font-family: 'Bebas Neue', cursive;
}

.container {
  /*contenedor home*/
  display: -ms-grid;
  display: grid;
  background-color: white;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 3fr 0.5fr;
      grid-template-rows: 1fr 3fr 0.5fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
      grid-template-areas: "logo menu menu menu "
 "cuerpo cuerpo cuerpo cuerpo"
 "pie pie pie pie";
  background-image: url("https://media.istockphoto.com/photos/creative-workspace-and-computer-blank-screen-picture-id931683740?k=20&m=931683740&s=612x612&w=0&h=g4Te92WGG2zRjpwghU0sHWFiUiO5SwCsKrIaYi1K3Tw=");
  background-size: cover;
}

@media screen and (max-width: 425px) {
  .container {
    display: -ms-grid;
    display: grid;
    background-color: white;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 1fr 1fr 1fr 0.5fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
        grid-template-areas: "logo menu"
 "cuerpo cuerpo"
 "cuerpo cuerpo"
 "pie pie";
    height: 100vh;
  }
}

.logo {
  display: -ms-grid;
  display: grid;
  grid-row: 1;
  grid-column: 1;
  grid-area: logo;
  position: -webkit-sticky;
  position: sticky;
  font-size: xx-large;
  text-decoration: underline;
  -webkit-text-decoration-style: solid;
          text-decoration-style: solid;
  -webkit-text-decoration-color: rgba(229, 166, 65, 0.988);
          text-decoration-color: rgba(229, 166, 65, 0.988);
  justify-items: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 0px;
  z-index: 999;
}

.logo h2 {
  color: rgba(229, 166, 65, 0.988);
  position: -webkit-sticky;
  position: sticky;
  top: 0%;
  z-index: 999;
}

@media screen and (max-width: 780px) {
  .logo h2 {
    font-size: x-large;
    letter-spacing: 1px;
    margin-top: 0%;
    padding-top: 0%;
    justify-items: auto;
  }
}

.menu {
  grid-row: 1;
  grid-column: 2;
  -ms-grid-column-span: 2;
  grid-area: menu;
  position: -webkit-sticky;
  position: sticky;
  margin: 10px;
  padding: 10px;
  top: 0px;
  position: sticky;
  z-index: 999;
}

.menu ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: -webkit-sticky;
  position: sticky;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  z-index: 999;
}

.menu ul a {
  color: rgba(172, 171, 169, 0.988);
  text-decoration: none;
  font-size: large;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  z-index: 999;
  position: -webkit-sticky;
  position: sticky;
}

.menu ul li a:hover {
  color: rgba(130, 129, 126, 0.988);
}

@media screen and (max-width: 780px) {
  .menu ul {
    display: block;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-size: medium;
  }
}

/*...HOME*/
.cuerpo {
  grid-row: 2;
  grid-column: 1;
  -ms-grid-column-span: 4;
  grid-area: cuerpo;
  display: -ms-grid;
  display: grid;
}

.cuerpo h1 {
  color: rgba(229, 166, 65, 0.988);
  font-size: xxx-large;
  text-align: center;
  margin-top: 1%;
  letter-spacing: 1px;
}

@media screen and (max-width: 425px) {
  .cuerpo h1 {
    font-size: large;
    text-align: center;
    color: rgba(229, 166, 65, 0.988);
    display: -ms-grid;
    display: grid;
  }
}

.pie {
  grid-row: 4;
  grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: pie;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: gainsboro;
}

.derechos {
  color: rgba(229, 166, 65, 0.988);
  margin: 5px;
  padding: 5px;
  letter-spacing: 1px;
  background-color: gainsboro;
}

.redes {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 60px;
  margin: 10px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  background-color: gainsboro;
}

.redes a {
  font-size: 2em;
  color: rgba(229, 166, 65, 0.988);
  background-color: gainsboro;
}

/*...NOSOTROS*/
.container-nosotros {
  display: -ms-grid;
  display: grid;
  background-color: white;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 0.5fr 2fr 2fr 0.5fr;
      grid-template-rows: 0.5fr 2fr 2fr 0.5fr;
  grid-column-gap: 15px;
  grid-row-gap: 15px;
      grid-template-areas: "logo menu menu"
 "foto3 somos texto1"
 "texto2 mision foto4 "
 "pie pie pie";
}

@media screen and (max-width: 1000px) {
  .container-nosotros {
    display: -ms-grid;
    display: grid;
    background-color: white;
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
    -ms-grid-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
        grid-template-rows: 0.5fr 1fr 1fr 1fr 1fr 0.5fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
        grid-template-areas: "logo menu"
 "foto3 somos"
 "texto1 texto1"
 "foto4 mision"
 "texto2 texto2"
 "pie pie";
  }
}

@media (min-width: 320px) and (max-width: 550px) {
  .container-nosotros {
    display: -ms-grid;
    display: grid;
    background-color: white;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 0.5fr;
        grid-template-rows: 1fr 2fr 2fr 2fr 2fr 2fr 2fr 2fr 0.5fr;
    grid-column-gap: 15px;
    grid-row-gap: 15px;
        grid-template-areas: "logo"
 "menu"
 "somos"
 "foto3"
 "texto1"
 "mision"
 "foto4"
 "texto2"
 "pie";
    width: auto;
  }
}

.somos {
  grid-row: 2;
  grid-column: 2;
  grid-area: somos;
}

.somos h2 {
  color: rgba(229, 166, 65, 0.988);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 1px;
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
}

.foto3 {
  grid-row: 2;
  grid-column: 1;
  grid-area: foto3;
  width: 100%;
  max-height: auto;
  border-radius: 150px;
}

.foto4 {
  grid-row: 3;
  grid-column: 3;
  grid-area: foto4;
  width: 100%;
  max-height: auto;
  border-radius: 150px;
}

.texto1 {
  grid-row: 2;
  grid-column: 3;
  grid-area: texto1;
}

.texto1 p {
  color: rgba(130, 129, 126, 0.988);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 1px;
  font-size: large;
  text-align: justify;
  padding-right: 3em;
  padding-left: 0%;
}

.mision {
  grid-row: 3;
  grid-column: 2;
  grid-area: mision;
}

.mision h2 {
  color: rgba(229, 166, 65, 0.988);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 1px;
  font-size: 3em;
  text-align: center;
  padding-top: 1em;
}

.texto2 {
  grid-row: 3;
  grid-column: 1;
  grid-area: texto2;
}

.texto2 p {
  color: rgba(130, 129, 126, 0.988);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center;
  letter-spacing: 1px;
  font-size: large;
  text-align: justify;
  padding-right: 0%;
  padding-left: 2em;
  padding-top: 2em;
}

@media screen and (max-width: 1020px) {
  .texto1 p, .texto2 p {
    font-size: medium;
  }
}
/*# sourceMappingURL=main.css.map */